body{
  font-family: "Helvetica Neue";
  font-size: 15px;
  color: #444444;
  font-weight: 300;
}

header{
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  padding: 20px 0;
  position: absolute;
  width: 100%;
}

header-h1{
  font-size: 18px;
}

#hero{
  background-image: url("../img/v9-slide-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  padding: 12% 0;
  text-align: center;
}

#hero h1{
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

#hero h3{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 40px;
}

#hero .btn-dark{
  background-color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 30px;
  border-radius: 0;
  border: 0;
  margin-right: 20px;
  letter-spacing: 2px;
}

#hero .btn-dark:hover, #hero .btn-active{
  background-color: #d50606;
}

#hero .btn-active:hover{
  background-color: #000000;
}

#info{
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
}

#info h3{
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #222222;
}

#info p{
  line-height: 25px;
  color: #444444;
}

.titulo{
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
  color: #2d2d2d;
  font-weight: 300;
}

.titulo::after{
  content: '';
  border: 1px solid #2d2d2d;
  display: block;
  width: 50px;
  margin: 30px auto;
}

.subtitulo{
  font-size: 24px;
  color: #444444;
  font-weight: 300;
  margin-bottom: 30px;
}

.bg-gris{
  background-color: #f2f2f2;
  padding: 5%!important;
}
.btn-negro{
  background-color: transparent;
  border: 1px solid #000000;
  padding: 10px 20px;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;

}
.btn-negro:hover{
  background-color: #d80808;
  border-color: #d80808;
  color: #ffffff;
}

#about .titulo,
#about2 .titulo{
  text-align: left;
  margin-bottom: 20px;
}


#about .titulo::after,
#about2 .titulo::after{
  display: none;
}

#about2 .bg-gris{
  background-color: #ffffff;

}

#Recentproyects{
  padding: 5% 0;
  background-color: #f2f2f2;
  font-weight: 300px;
}

.project{
  position: relative;
  overflow: hidden;
}

.project-info{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  display: grid;
  align-content: center;
  color: #ffffff;
  background-color: rgba(237, 19, 19, 0.70);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.project:hover .project-info{
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.project:hover img{
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.project img{
  transition: all 0.2s ease-in-out;
}


.project-info h4{
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}
